@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background : #16181B;
    --primary-color: #73777D;
    --secondary-color: #FFF;
    --special-color: #FF9100;
    --font-size-lg: 16px;
}

*{
    padding: 0;
    margin: 0;
    font-family: Sf Pro Display, sans-serif;
}

body{
    background: var(--background);
}

/* Navbar Start */

.navbar{
    display: flex;
    gap: 100px;
    padding: 20px;
    position: relative;
}

.logo img {
    width: 152px;
    height: 69px;
    margin: 10px;
}

.nav-container{
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 40px;
}

.social-icons{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.social-icon-link img:hover{
    background-color: var(--special-color);
    border-radius: 50%;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}

.nav-item{
    color: var(--primary-color);
}

.nav-item a{
    text-emphasis: none;
    text-decoration: none;
    color: var(--primary-color);
    font-family: SF Pro Display;
    font-size: var(--font-size-lg);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-item a:hover{
    color: var(--special-color);
    cursor: pointer;
    transition: all ease 0.3s;
}

.search-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    right: 20px;
}

.search{
    display: flex;
}

.search input{
    width: 200px;
    border: none;
    background-color: var(--background);
    border-bottom: 1px solid #36393E;
    color: var(--primary-color);
}

.search input:focus{
    padding: 0 10px;
    outline: none;
}

.basket{
    display: flex;
    align-items: center;
    color: var(--special-color);
    gap: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--special-color);
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.nav-button p{
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    color: var(--background);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}



.line{
    position: absolute;
    background-color: var(--primary-color);
    width: 1150px;
    height: 1px;
    left: 200px;
    top: 70px;
}

/* Navbar End */

/* Page Start */

