
*{
    padding: 0;
    margin: 0;
    font-family: Sf Pro Display, sans-serif;
}

:root{
    --background : #16181B;
    --primary-color: #73777D;
    --secondary-color: #FFF;
    --special-color: #FF9100;
    --font-size-sm: 16px;
    --font-size-lg: 24px;
    --rectangle-color: #1F2125;
    --descript-color: #7A7F84;
    --footer-color:  #51545A;
}

/* Rectangle Starts */
.rect-container{
    display: flex;
    align-items: center;
    padding-left: 362px;
    justify-content: space-between;
}

.sort-container{
    display: flex;
    align-items: center;
    gap: 72px;
    font-size: var(--font-size-sm);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.grade{
    display: flex;
    align-items: center;
    color: var(--descript-color);
    gap: 10px;
}

.g-head{
    color: var(--special-color);
}

.grade-list{
    margin-right: 6px;
}

.sort{
    display: flex;
    align-items: center;
    color: var(--descript-color);
    gap: 10px;
}

.sort-head{
    color: var(--special-color);
}

.sort-list{
    margin-right: 6px;
}

.sort-icons{
    font-size: var(--font-size-lg);
    color: #707070;
    margin-right: 30px;
}

.fa-grip path{
    transition: all ease 0.3s;
    cursor: pointer;
    fill: #707070;
}

.fa-grip path:hover{
    fill: var(--special-color);
}

.fa-list path{
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: bold; 
    fill: #707070;
}

.fa-list path:hover{
    fill: var(--special-color);
}

/* Rectangle Ends */

/*  Menu Start */

.menu-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    z-index: 1;
    margin-top: 10px;
}

/* Left  */

.left-container{
    width: 20%;
    background-color: var(--rectangle-color);
    height: 100%;
    margin-left: 40px;
    position: sticky;
    top: 180px;
}

.left-head{
    padding: 20px 0 20px 30px;
    color: var(--secondary-color);
    font-size: var(--font-size-lg);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select-container{
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
}

.select{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.s-heading{
    display: flex;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-left: 47px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.s-icons{
    position: absolute;
    right: 25px;
}

.fa-caret-right{
    opacity: 1;
}

.fa-caret-down{
    opacity: 1;
}

.s-body{
    display: flex;
    flex-direction: column;
    margin-left: 57px;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
}

.s-click{
    cursor: pointer;
    transition: all ease 0.3s;
}

.s-click:hover{
    color: var(--special-color);
    transform: scale(1.1);
}

/* Right */
.right-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.wine-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
}

.red-wine{
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: var(--rectangle-color);
    height: 90px;
}

.body-img{
    width: 130px;
    height: 90px;
    margin-right: 16px;
}

.body-head{
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 250px;
    margin-right: 40px;
}

.body-description{
    width: 300px;
    margin-right: 80px;
}

.body-description p{
    color: var(--descript-color);
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 25px;
}

.fa-tenge-sign{
    font-size: 12px;
}

.word{
    text-align: right;
    font-weight: 400;
}

.menu-button{
    width: 148px;
    height: 44px;
    background-color: var(--special-color);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    cursor: pointer;
    color: #1F2125;
    text-align: right;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    transition: all ease 0.3s;
}

.menu-button:hover{
    box-shadow: 0px 4px 13px 0px rgba(255, 126, 0, 0.60);
}

/* Menu ends */

/* Media Query */

@media screen and (max-width: 1400px) {
    .menu-container{
        margin: 0;
        gap: 0;
        position: relative;
        width: 100%;
    }

    .left-container{
        position: absolute;
        left: -1000px;
    }

    .right-container{
        width: 100%;
    }

    .red-wine{
        gap: 40px;
    }
}